.num{
    width: 70%;
    border:20px;
    margin-left: 200px;
    margin-top: 150px;
}



.num1{

background-color: white;


}
.num2{

background-color: gainsboro;

}
.num3{
background-color: white;

}
.num4{
    background-color: gainsboro;
}
.num5{
    background-color: white;
}
.num6{
    background-color: gainsboro;
}
.num7{
    background-color: white;
}
.num8{
    background-color:gainsboro ;
}
.num9{
    background-color:white ;
}
.num10{
    background-color:gainsboro ;
}